In [1]:
#write a program that take two number (a= 15, b=4) and print their sum, difference, product, division, floor division, modulus

a=15
b=4
print(a+b)

19

In [2]:
print(a-b)

11

In [3]:
print(a*b)

60

In [4]:
print(a/b)

3.75

In [5]:
print(a//b)

3

In [6]:
print(a%b)

3

In [7]:
#convert the following (num1 = 10, num2 = 5.6, num3 = 4.43)
#integer to float
num1 = 10
num1 = float(num1)
num1

10.0

In [8]:
#float to integer
num2 = 5.6
num3 = 4.43

num2 = int(num2)
num3 = int(num3)

print(num2, num3)

5 4

In [9]:
#float to string
num3 = 4.43
num3 = int(num3)
num3

4

In [10]:
#fruits = ["apple", "banana", "cherry", "coconut", "pineapple" ,"mango", "orange"
fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]

# The first fruit
print("First fruit:", fruits[0])

# The last fruit (using negative indexing)
print("Last fruit:", fruits[-1])

# The fourth fruit
print("Fourth fruit:", fruits[3])

First fruit: apple
Last fruit: orange
Fourth fruit: coconut

In [11]:
#list slicing numbers = [10,20, 30, 40, 50] print 
#the three elements
numbers = [10, 20, 30, 40, 50]
print(numbers[:3])

[10, 20, 30]

In [12]:
#last two number
numbers = [10, 20, 30, 40, 50]
print(numbers[3:5])

[40, 50]

In [13]:
#print all elments except the first one
numbers = [10, 20, 30, 40, 50]
print(numbers[1:5])

[20, 30, 40, 50]

In [14]:
#print all elments except the last one
numbers = [10, 20, 30, 40, 50]
print(numbers[:4])

[10, 20, 30, 40]

In [15]:
#print the list in reverse using slicing
numbers = [10, 20, 30, 40, 50]
print(numbers[::-1])

[50, 40, 30, 20, 10]

In [16]:
#print every second element
numbers = [10, 20, 30, 40, 50]
print(numbers[::2])

[10, 30, 50]

In [17]:
#add the number 10 to the end o the list using method
nums = [1,2,3]
nums.append(10)
print(nums)

[1, 2, 3, 10]

In [18]:
#inserting 99 at index 1 using method
nums = [1,2,3]
nums.insert(1,99)
print(nums)

[1, 99, 2, 3]

In [19]:
#add the elements of another list[4,5] to the original list using method
nums = [1,2,3]
nums.extend([4, 5])
print(nums)

[1, 2, 3, 4, 5]

In [20]:
#sort the list in ascending order using method
nums = [4,1,3,2]
nums.sort()
print(nums)

[1, 2, 3, 4]

In [21]:
#A customer orders several food items. add the items to a list and then
#add a new item "ice cream" using append()
order = ["burger","fries","coke","biryani"]
order.append("ice cream")
print(order)

['burger', 'fries', 'coke', 'biryani', 'ice cream']

In [22]:
#remove biryani
order = ['burger', 'fries', 'coke', 'biryani', 'ice cream']
order.remove("biryani")
print(order)

['burger', 'fries', 'coke', 'ice cream']

In [23]:
#show final list
order = ['burger', 'fries', 'coke', 'ice cream']
print(order)

['burger', 'fries', 'coke', 'ice cream']

In [24]:
#track passengers on a bus
#insert a new passenger "sara" at position 2
passengers = ["Ali", "Zara", "Ahmed"]
passengers.insert(1,"Sara")
print(passengers)

['Ali', 'Sara', 'Zara', 'Ahmed']

In [25]:
#remove passengers who got off "zara"
passengers = ["Ali", "Zara", "Ahmed"]
passengers.remove("Zara")
print(passengers)

['Ali', 'Ahmed']

In [26]:
#reverse who order to show who entered list
passengers =['Ali', 'Sara', 'Zara', 'Ahmed']
passengers.reverse()
print(passengers)

['Ahmed', 'Zara', 'Sara', 'Ali']